body {
}

.newStyle1 {
    background-color: #9966FF;
}

h1 {
    font-family: "SF Pro Display";
    font-size: xx-large;
    color: white;
}

p {
    font-family: poppins;
    font-size: small;
    color: aliceblue;
    font-weight: 300;
}

h6 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300
}
